@keyframes blinker {
  50% {
    opacity: 0;
  }
}

:root {
  --cellSize: 20;
  --cellMargin: 2px;
}

.line {
  display: flex;
  flex-direction: row;
  margin-top: var(--cellMargin);
  margin-bottom: var(--cellMargin);
}

.gridContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: black;
  padding: 15px;
  width: min-content;
  border-radius: 10px;
}

.cell {
  width: var(--cellSize);
  height: var(--cellSize);
  min-width: var(--cellSize);
  min-height: var(--cellSize);

  border-width: 0px;
  border-radius: 7px;

  margin-left: var(--cellMargin);
  margin-right: var(--cellMargin);
}

.free {
  background-color: white;
}

.mine {
  background-color: orange;
}

.notMine {
  background-color:royalblue;
}

.sync {
  background-color: orange;
  animation: blinker 1s linear infinite;
}

.cell:hover {
  background-color: pink;
}

.fadein {
  /* margin-top: 25px;
    font-size: 21px;
    text-align: center; */
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
