@keyframes blinker {
  50% {
    opacity: 0;
  }
}

:root {
  --cellSize: 25px;
  --cellMargin: 2px;
}

.line {
  display: flex;
  flex-direction: row;
  margin-top: var(--cellMargin);
  margin-bottom: var(--cellMargin);
}

.gridContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: black;
  padding: 15px;
  width: min-content;
  border-radius: 10px;
}

.cell {
  width: var(--cellSize);
  height: var(--cellSize);
  min-width: var(--cellSize);
  min-height: var(--cellSize);

  border-width: 0px;
  border-radius: 7px;

  margin-left: var(--cellMargin);
  margin-right: var(--cellMargin);
}

.free {
  background-color: white;
}

.mine {
  background-color: orange;
}

.notMine {
  background-color: slateblue;
}

.sync {
  background-color: orange;
  animation: blinker 1s linear infinite;
}

.cell:hover {
  background-color: pink;
}
