@keyframes blinker {
  50% {
    opacity: 0;
  }
}

:root {
  --cellSize: 23px;
  --cellFontSize: 20px;
  --cellMargin: 1px;
}

.line {
  display: flex;
  flex-direction: row;
  margin-top: var(--cellMargin);
  margin-bottom: var(--cellMargin);
}

.boardContainer {
  width: max-content;
  margin: 0px auto;
}

.gridContainer {
  display: flex;
  margin: 0px auto;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: black;
  padding: 13px;
  width: min-content;
  border-radius: 10px;
}

.infoBar {
  display: flex;
  flex-direction: row;
}

.barInfoItem {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0px;
    margin-bottom: 0.3rem;
}

.cell {
  width: var(--cellSize);
  height: var(--cellSize);
  font-size: var(--cellFontSize);

  min-width: var(--cellSize);
  min-height: var(--cellSize);

  border-width: 0px;
  border-radius: 5px;

  margin-left: var(--cellMargin);
  margin-right: var(--cellMargin);
}

.free {
  background-color: white;
}

.mine {
  background-color: orange;
}

.notMine {
  /* background-color: #2aa17d; */
  background-color:cornflowerblue
}

.cell:hover {
  background-color: orange;
}
